@import './components/font',
				'./components/contact/index',
				'./components/chatbox/index',
				'./components/auth/index',
				'./components/auth/otp',
				'./components/sidebar/index';

* {
	font-family: 'Inter';
}

html, 
body {
    height: 100%;
		width: 100%;
}

.detail-container {
	width: 0px;
	transition: width 0.5s;
	overflow: hidden;

	&.active {
		width: 330px;
	}
}

.sidebar-container {
	width: 220px;
	transition: width 0.5s;

	&.inactive {
		width: 80px;
	}
}
