@import './components/font',
				'./components/contact/index',
				'./components/chatbox/index',
				'./components/auth/index',
				'./components/sidebar/index';

* {
	font-family: 'Poppins';
}

html, 
body {
    height: 100%;
		width: 100%;
}
